<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RoadReady"
        tools:targetApi="31">
        <activity
            android:name=".EditBuyerProfileActivity"
            android:exported="false" />
        <activity
            android:name=".BuyerProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ViewNotifBuyerActivity"
            android:exported="false" />
        <activity
            android:name=".RenewRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".MyVehiclesActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrationProgActivity"
            android:exported="false" />
        <activity
            android:name=".VehicleApplicationProgActivity"
            android:exported="false" />
        <activity
            android:name=".ApplicationProgActivity"
            android:exported="false" />
        <activity
            android:name=".InstallmentPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".CashPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".SelectVehicleActivity"
            android:exported="false" />
        <activity
            android:name=".ViewDealerInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ViewDealerActivity"
            android:exported="false" />
        <activity
            android:name=".HomeBuyerActivity"
            android:exported="false" />
        <activity
            android:name=".VerificationActivity"
            android:exported="false" />
        <activity
            android:name=".SignupBuyerActivity"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>